<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Babbage </h1>
    <a href="/babbage"><a>

            <h2>Pionero de la informática</h2>

            <p> Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una
                calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. Es
                considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o
                Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de
                la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora.
            </p>

            </p><img src="img/Charles babbage.jpg" alt="" width="300px" height="350px">

            <h3>El invento que no vio la luz</h3>
            <p>La máquina analítica de Babbage fue la máquina diferencial, que fue un computador diseñado específicamente para construir tablas de logaritmos y de funciones trigonométricas evaluando polinomios por aproximación. Si bien este proyecto no vio la luz por razones económicas y personales, Babbage comprendió que parte de su trabajo podía ser aprovechado en el diseño de un computador de propósito general, de manera que inició el diseño de la máquina analítica.​</p>

            <img src="img/Charles babbage Computadora.jpg" alt="" width="300px" height="300px">


            <h3>Otros Heroes de la computacion que te podrian interesar</h3>
            <a href="/berners-lee">Berners-lee</a> ---
            <a href="/clarke">Clarke</a> ---
            <a href="/hamilton">Margaret Hamilton</a> ---
            <a href="/hopper">Hopper</a> ---
            <a href="/lovelace">Lovelace</a> ---
            <a href="/turing">Turing</a>
</body>

</html>