<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-lee</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Berners-lee </h1>
    <a href="/berners-lee"><a>

            <h2>Padre del internet</h2>
            <p> Tim Berners-Lee es un científico de la computación británico, conocido por ser el padre de la World Wide
            Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en
            diciembre de 1990.
            </p>

            <img src="img/Berners-Lee.jpg" alt="" width="400px" height="250px">

        <h3>El inicio</h3>
            <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera
            más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo
            crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje
            de etiquetas de hipertexto.</p>
            <p>Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la
            puesta al día de la información entre investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz</p>

            <img src="img/Berners-lee Server.jpg" alt="">


            <h3>Otros Heroes de la computacion que te podrian interesar</h3>
            <a href="/babbage">Babbage</a> ---
            <a href="/clarke">Clarke</a> ---
            <a href="/hamilton">Margaret Hamilton</a> ---
            <a href="/hopper">Hopper</a> ---
            <a href="/lovelace">Lovelace</a> ---
            <a href="/turing">Turing</a>
</body>
</html>