<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Joan Clarke</h1>
    <a href="/clarke"><a>

    <h2>Matemática y criptoanalista</h2>
    <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke. Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. </p>

    <img src="img/joan clarke.jpg" alt="">

    <h3>La segunda guerra mundial</h3>
    <p>Fue reclutada en 1939 para trabajar en Betchley Park como secretaria durante la Segunda Guerra Mundial. Como destacó por sus habilidades le instalaron un escritorio extra en el Hut 8 ocupado hasta entonces por Turing y un par de empleados más trabajando como criptoanalista. Para poder trabajar en ese puesto tuvo que ser clasificada como lingüista, ya que no existía empleo para una criptoanalista mujer.</p>

<img src="img/Clarke Joan.jpg" alt="">

    <h3>Otros Heroes de la computacion que te podrian interesar</h3>
    <a href="/babbage">Babbage</a> ---
    <a href="/berners-lee">Berners-lee</a> ---
    <a href="/hamilton">Margaret Hamilton</a> ---
    <a href="/hopper">Hopper</a> ---
    <a href="/lovelace">Lovelace</a> ---
    <a href="/turing">Turing</a>
</body>
</html>