<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Heroes de la computacion</h1>
    <p></p><button id=button-danger><a href="/babbage">Babbage (Pionero de la informática)</a></button></p>
    <p></p><button id=button-danger><a href="/berners-lee">Berners-lee (Padre del internet)</a> </button></p>
    <p></p><button id=button-danger><a href="/clarke">Clarke (Matemática y criptoanalista)</a></button></p>
    <p></p><button id=button-danger><a href="/hamilton">Margaret Hamilton (La Primera ingeniera en Software)</a></button></p>
    <p></p><button id=button-danger><a href="/hopper">Hopper (lenguaje COBOL)</a></button></p>
    <p></p><button id=button-danger><a href="/lovelace">Lovelace (La primer programadora)</a></button></p>
    <p></p><button id=button-danger><a href="/turing">Turing (Padre de la inteligencia artificial)</a></button></p>
</body>

</html>