<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Alan Turing</h1>
    <a href="/turing"><a>
        
    <h2>Padre de la inteligencia artificial</h2>
    <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
    <p>Él creía que las computadoras sí podrían llegar a pensar y, con el programa adecuado, realizar acciones tales como, por ejemplo, chatear sin que pudiéramos ser capaces de distinguir si quien lo hace es una persona o una compu: con 40 años Turing había abierto el campo de la Inteligencia Artificial (AI).</p>

    <img src="img/Alan Turing.jpg" alt="">

    <p>A principios de la década de 1930 las computadoras estaban en una incipiente etapa de ensayo, y fue en esa época (1936) cuando Alan pensó en una computadora que resolvería cualquier problema. La idea era reducir todo (cifras, letras, imágenes y sonidos) a ristras de unos y ceros, y usar un programa para resolver los problemas en pasos simples. Así nacía la computadora digital. Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. </p>
    <img src="img/Alan Turing Maquina.jpg" alt="">
    
    <h3>La AI en la actualidad</h3>
    <p>Hoy la AI se utiliza en los autos más modernos en funciones como asistentes de voz para los sistemas de infoentretenimient, reconocimiento de imágenes y hasta la conducción autónoma. Puede ayudar a evaluar decisiones para lograr resultados óptimos en el menor tiempo posible en situaciones de tránsito y generar previsiones sobre el comportamiento de otros vehículos gracias al sistema de reconocimiento automático de imágenes y de otros parámetros, nutriéndose, además, de los datos previamente recolectados o "aprendidos".</p>

<img src="img/Alan Turing auto.jpg" alt="" width="400px" height="250px">

    <h3>Otros Heroes de la computacion que te podrian interesar</h3>
    <a href="/babbage">Babbage</a> ---
    <a href="/berners-lee">Berners-lee</a> ---
    <a href="/clarke">Clarke</a> ---
    <a href="/hamilton">Margaret Hamilton</a> ---
    <a href="/hopper">Hopper</a> ---
    <a href="/lovelace">Lovelace</a>
</body>
</html>